section[role="region"] > header:first-child {
	background-color: #245752;
}

[data-type="list"] header {
	color: #009FA8;
}

.lectureNews {
	font-size: 1.6rem;
}

.lectureNews h1 {
	font-size: 1.8rem;
	font-weight: bold;
}

@media screen and (max-width: 480px) {
  .lectureNews {
	font-size: 1.5rem;
  }
  [data-type="list"] li p:first-of-type.listeNewsTitle {
	font-size: 1.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .lectureNews {
	font-size: 1.6rem;
  }
}